.header-navbar {
  background-color: #01161e;
  font-size: x-large;
  border-bottom: 5px solid #598392;
  position: sticky;
  top: 0;
}

.header-navbar .nav-link {
  color: #eff6e0 !important;
  font-weight: normal;
  margin: 0 10px;
  border-radius: 0.8rem;
  transition: background-color 1s;
  
}

.header-navbar .nav-link.active {
  font-weight: bold;
  background-color: #124559;
  border-bottom: 2px solid #aec3b0;
}

.header-navbar .nav-link:hover {
  background-color: #124559;
}

.header-navbar .navbar-toggler {
  border-color: #eff6e0;
}

.header-navbar i.fa-bars {
  color: #eff6e0;
  font-size: 2rem;
}

.current-page-mobile {
    color: #eff6e0;
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
  }

@media (min-width: 992px) {
  .current-page-mobile {
  display: none;
  }
}