.habilidades-container {
  color: black;
  display: flex;
  min-height: 80vh;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 2%;
}

.softskills {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #eff6e0;
  border-radius: 1rem;
  border-color: #005B41;
  border-style: solid;  
  border-width: 3px;
}

.softskills .softskills-list {
  list-style-type: none;
  padding: 0;
  font-size: x-large;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
}

.hardskills {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1.5rem;
  background-color: #eff6e0;
  border-radius: 1rem;
  border-color: #005B41;
  border-style: solid;
  border-width: 3px;
}

.hardskills .hardskill-category {
  list-style-type: none;
  padding: 0;
  padding-top: 0.5rem;
  font-size: x-large;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
}
.hardskills .hardskill-category ul {
  list-style-type: none;
  padding-left: 20px;
  font-size: x-large;
  font-weight: 400;
  border-top: 2px solid #000000;
}


.hardskills ul li{
  text-align: left;
  padding-left: 15%;
}

.hardskills h2 {
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 5px solid #000000;
  padding-bottom: 0.5rem;
}

.softskills h2 {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 5px solid #000000;
  padding-bottom: 0.5rem;
}

.softskills ul li {
  text-align: left;
  list-style-type: disc;
  padding-bottom: 5%;
}

h3 {
  font-size: x-large;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .habilidades-container {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    justify-content: flex-start;
    padding: 1rem;
    min-height: auto;
    gap: 1rem;
  }

  .softskills, .hardskills {
    width: 100%;
    padding: 1rem;
  }
  
  .hardskills ul {
    padding-left: 0;
    border-top: 2px solid #000000;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .softskills ul li, .hardskills ul li {
    padding-left: 5%;
    text-align: left;
  }
}