.App {
  text-align: center;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url('../public/RosaNegra.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}






